{{>partial_header}}
package main

import (
    "log"

    "github.com/apex/gateway"

	// WARNING!
	// Change this to a fully-qualified import path
	// once you place this file into your project.
	// For example,
	//
	//    sw "github.com/myname/myrepo/{{apiPath}}"
	//
	sw "./{{apiPath}}"
)

func main() {
	log.Printf("Lambda Invoked")

	router := sw.NewRouter()

    log.Fatal(gateway.ListenAndServe("We are a Lambda", router))
}
